:root {
  --prime: rgb(250, 82, 4);
}

.btn-oyen {
  background-color: var(--prime) !important;
  color: #fff !important;
}

.oyen {
  color: var(--prime) !important;
}


@media(max-width:576px) {
  .navbar-toggler {
    display: none !important;
  }
}